/* app/globals.css */
@import "tailwindcss";

:root {
  /* Theme Palette (Dark) */
  --background: #0f1423; /* Dark slate background */
  --foreground: #ffffff; /* White text for contrast */

  --brand-primary: #00c2ff; /* Cyan */
  --brand-secondary: #a652ff; /* Purple */
  --brand-dark: #0f1423; /* Logo background color */
}

@theme inline {
  /* Core variables */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Brand custom colors */
  --color-brand-primary: var(--brand-primary);
  --color-brand-secondary: var(--brand-secondary);
  --color-brand-dark: var(--brand-dark);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), sans-serif;
}
